body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: skyblue;


}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.section {
  flex: 1;
  padding: 20px;
}

h2 {
  text-align: center;
}

.photo {
    position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  display: block;
}

.close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}




footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
